.nav-wrapper{
    padding-left: 1em;
}

.hero{
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.hero-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search{
    margin: 2em;
}

.card-image img{
    height: 400px;
    object-fit: cover;
}

.disp-pets{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.card{
    margin: 50px;
}

.card-title{
    background-color: #F2789F;
    opacity: 0.8;
}

.parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.child{
    max-width: 500px;
}

img{
    padding: 1em;
    height: 400px;
    border-radius: 50px;
}

.ques{
    text-align: center;
    margin: 1.5em 1em 1em 1em;
}

.btn{
    background-color: #F2789F;
}
.btn:hover{
    background-color: #F999B7;
}
nav{
    background-color: #F9C5D5;
}

.contact-card{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    display: flex;
    margin-top: 1em;
    background-color: #FEE3EC;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.contact-card img{
    width: 200px;
    height: auto;
    border-radius: 50%;
}

@media only screen and (max-width: 950px) {
  .hero-img{
      display: none;
  }
  .card{
      margin: 0;
  }
}


@media only screen and (max-width: 900px) {
  .hero-img{
      display: none;
  }
  .card{
      margin: 0;
  }
  .disp-pets{
      margin: 1em;
      grid-template-columns: 1fr;
      gap: 20px;
  }
}
